:root[class*='app-dark'] {
    /* PALETA OBJETIVO - DARK MODE */
    --primary-color: #2563EB;
    --primary-color-text: #FFFFFF;
    --surface-ground: #020617;
    --surface-card: #0F172A;
    --surface-border: #1E293B;
    --text-color: #F8FAFC;
    --text-color-secondary: #94A3B8;
    
    /* Variables PrimeNG modo oscuro */
    --p-primary-color: #2563EB;
    --p-primary-contrast-color: #FFFFFF;
    --p-text-color: #F8FAFC;
    --p-text-muted-color: #94A3B8;
    --p-content-border-color: #1E293B;
    --p-content-background: #0F172A;
    --p-content-hover-background: #1E293B;
    --p-overlay-popover-background: #0F172A;
    
    /* Variables específicas de Sakai modo oscuro */
    --surface-950: #020617;
    --surface-800: #0F172A;
    --surface-100: #F8FAFC;
    
    /* Código */
    --code-background: var(--surface-800);
    --code-color: var(--surface-100);
}
